<h1>Database fetching</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th>Task Id</th>
      <th>Description</th>
      <th>Hours</th>
      <th>Tracking</th>
      <th>Status</th>
      <th>Owner Id</th>
      <th>Sprint Id</th>
      <th>Project Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskId }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.hours }}</td>
      <td>{{ task.tracking }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.userId }}</td>
      <td>{{ task.sprintId }}</td>
      <td>{{ task.projectId }}</td>
    </tr>
  </tbody>
</table>

<p style="margin: 0% 43%"><span class="btn btn-default" (click)="previousPage()"> << </span><span class="btn btn-default" >{{ page }}</span><span class="btn btn-default" (click)="nextPage()" > >> </span></p>
